{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
        <met#aeb3b8et="utf-8">
        <title>cv_num_one</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'static_file/img/favicon.ico'%}" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
          <link rel="stylesheet" href="{% static 'portfilo//lib/owlcarousel/assets/owl.carousel.min.css '%}">
         <link rel="stylesheet" href="{% static 'portfilo//lib/lightbox/css/lightbox.min.css '%}">
         <link rel="stylesheet" href="{% static 'portfilo/lib/animate/animate.min.css '%}">


        <!-- Customized Bootstrap Stylesheet -->
         <link rel="stylesheet" href="{% static 'portfilo/css/bootstrap.min.css '%}">
        <!-- Template Stylesheet -->
        <link rel="stylesheet" href="{% static 'portfilo/css/style.css'%}">

    </head>
<body  >


<div class="container">
            <div class="row g-5">
                <div class="col-lg-4 sticky-lg-top vh-100">
                    <div class="d-flex flex-column h-100 text-center overflow-auto shadow">

                        {%if formm.img  %}
                                        <img  class="w-100 img-fluid mb-4" src="{{formm.img.url}}"alt="Image"  >
                                     {% else %}
                                        <img class="w-100 img-fluid mb-4" src="{% static 'static_file/img/1.jpg'%}"alt="Image" width="50" height="60">

                        {% endif %}

                        <h1 class="text-primary mt-15">{{formm.name}}</h1>
                        <div class="mb-4" style="height: 22px;">
                            <h4 class="typed-text-output d-inline-block text-light"></h4>
                            <div class="typed-text d-none">{{formm.skis_name}}</div>
                        </div>
                        <div class="d-flex justify-content-center mt-auto mb-3">
                            <a class="btn btn-secondary btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="d-flex align-items-end justify-content-between border-top">
                            <a href="" class="btn w-50 border-end">Download CV</a>
                            <a href="http://127.0.0.1:8000/index/{{rett}}" class="btn w-50 btn-scroll"> Home</a>
                            <a href="http://127.0.0.1:8000/blogperson/{{ret}}" class="btn w-50 btn-scroll">blog</a>
                        </div>
                    </div>
                </div>


                    <div class="col-lg-8">

                    <!-- About Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">About Me {{formm.name }}</h1>
                        <p> {{formm.name }}{{formm.body}}</p>
                        <div class="row mb-4">





                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Name:</span> {{mohmed.name}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Birthday:</span> {{mohmed.brith}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Degree:</span> {{mohmed.dgree}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Experience:</span> {{mohmed.experns}} Years
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Phone:</span> {{mohmed.phone}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Email:</span> {{mohmed.email}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Address:</span> {{mohmed.address}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Freelance:</span> Available
                            </div>
                        </div>



                        <!--start epernshn -->
                  <div class="row g-4">
                            <div class="col-md-4 col-lg-6 col-xl-4">
                                <div class="d-flex bg-secondary p-4">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">4</h1>
                                    <div class="ps-3">
                                        <p class="mb-0">Years of</p>
                                        <h5 class="mb-0">Experience</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-6 col-xl-4">
                                <div class="d-flex bg-secondary p-4">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">10</h1>
                                    <div class="ps-3">
                                        <p class="mb-0">Happy</p>
                                        <h5 class="mb-0">Clients</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-6 col-xl-4">
                                <div class="d-flex bg-secondary p-4">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">20</h1>
                                    <div class="ps-3">
                                        <p class="mb-0">Complete</p>
                                        <h5 class="mb-0">Projects</h5>
                                    </div>
                                </div>



                    </section>



                         <!-- Skills Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-4 mb-5">Skills</h1>
                        <div class="row">
                            <div class="col-sm-5">
                                {% for skill in skills %}
                                <div class="skill mb-9">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-1">{{skill.skil}}</p>
                                        <p class="mb-2">{{skill.exp}}</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{skill.exp}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </section>
                    <!-- Skills End -->



                         <!-- Expericence Start -->
                 <!--   <section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Expericence</h1>
                        <div class="border-start border-2 border-light pt-2 ps-5">
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">Web Designer</h5>
                                <p class="mb-2">Soft Company | <small>2000 - 2050</small></p>
                                <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod. Eos ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum stet lorem diam</p>
                            </div>
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">Web Designer</h5>
                                <p class="mb-2">Soft Company | <small>2000 - 2050</small></p>
                                <p>Tempor eos dolore amet tempor dolor
                                    tempor. Dolore ea magna sit amet dolor
                                    eirmod. Eos ipsum est tempor dolor. Clita
                                    lorem kasd sed ea lorem diam ea lorem eirmod
                                    duo sit ipsum stet lorem diam</p>
                            </div>
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">Web Designer</h5>
                                <p class="mb-2">Soft Company | <small>2000 - 2050</small></p>
                                <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod. Eos ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum stet lorem diam</p>
                            </div>
                        </div>
                    </section>
                    <-- Expericence End -->



  <!-- Services Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Services</h1>

                        <div class="row g-4">
                            {% for ser in servs %}
                            <div class="col-md-6">
                                <div class="service-item">
                                    <i class="{{ser.icon}} mx-auto mb-4"aria-hidden="true"></i>
                                    <h5 class="mb-2">{{ser.title}}</h5>
                                    <p class="mb-0">{{ser.body}}</p>
                                </div>
                            </div>
{% endfor %}
                        </div>

                    </section>
                    <!-- Services End -->



                         <!-- Portfolio Start  end img python-->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Portfolio</h1>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 text-center mb-2">
                                        <ul class="list-inline mb-4" id="portfolio-flters">
                                            <li class="btn btn-secondary active"  data-filter="*"><i class="fa fa-star me-2"></i>All</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row portfolio-container">
                                    {% for ports in port %}
                                    <div class="col-md-6 mb-4 portfolio-item first">

                                        <div class="position-relative overflow-hidden mb-2">

                                            <img class="img-fluid w-10" src="{{ports.img.url}}"  alt="">
 <h3>{{ports.title}}</h3>
                                            <div class="portfolio-btn d-flex align-items-center justify-content-center">

                                                <a href="{{ports.link}} " target="_blank" >

                                            <i class="bi bi-box-arrow-up-right"  ></i>
                                                </a>

                                            </div>

                                        </div>

                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Portfolio End -->


                        <section class="py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
                        <h1 class="title pb-3 mb-5">Contact Me</h1>
						<p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a></p>



                    <!-- Contact End -->
                            <form action="" method="post">
                                <div class="row g-3">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
  </div>
 </div>
                                    </form>
                    </section>
                    <!-- Contact Start -->





 <!-- Footer Start -->
                    <section class="wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-secondary text-light text-center p-5">
                            <div class="d-flex justify-content-center mb-4">
                                <a class="btn btn-dark btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-dark btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-dark btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-dark btn-square mx-1" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                                <a class="text-light px-3 border-end" href="#">Privacy</a>
                                <a class="text-light px-3 border-end" href="#">Terms</a>
                                <a class="text-light px-3 border-end" href="#">FAQs</a>
                                <a class="text-light px-3" href="#">Help</a>
                            </div>

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							</div>
                    </section>
                    <!-- Footer End -->
                </div>





                            </div>

            </div>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'portfilo/lib/wow/wow.min.js'%}"></script>
        <script src="{% static 'portfilo/lib/typed/typed.min.js'%}"></script>
        <script src="{% static 'portfilo/lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'portfilo/lib/waypoints/waypoints.min.js'%}"></script>
        <script src="{% static 'portfilo/lib/counterup/counterup.min.js'%}"></script>
        <script src="{% static 'portfilo/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'portfilo/lib/isotope/isotope.pkgd.min.js'%}"></script>
        <script src="{% static 'portfilo/lib/lightbox/js/lightbox.min.js'%}"></script>

        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="{% static 'portfilo/js/main.js'%}"></script>
</body>
</html>